server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/dormitory?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 123456
  flyway:
    enabled: true
    locations: classpath:db/migration

app:
  jwt:
    secret: ${APP_JWT_SECRET:dormitory-jwt-secret-change-me-please-32bytes-min-000000}
    expiration-seconds: ${APP_JWT_EXP_SECONDS:7200}

mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
